<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand mr-auto mr-lg-0 " href="#">CSD PHILIPPINES INBOUND MONITORING</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
<div class="nav-scroller bg-blue shadow-sm">
    <nav class="nav nav-underline">
 
      <a class="<%= path === '/active' ? 'nav-link btn btn-primary btn-lg active' : 'nav-link'%>" href="/active">ACTIVE</a>
      <a class="<%= path === '/inactive' ? 'nav-link btn btn-primary btn-lg active' : 'nav-link'%>" href="/inactive">INACTIVE</a>
      <a class="<%= path === '/call_summary' ? 'nav-link btn btn-primary btn-lg active' : 'nav-link'%>" href="/call_summary">CALL-SUMMARY</a>
     
    </nav>
</div>